 
.slides h2 {
padding-top: 50px;
font-family: 'Satisfy', cursive;
}


#modal1 h4 {
 
  font-family: 'Merriweather', serif;
}

#modal2 h5 {
 
  font-family: 'Merriweather', serif;
}
#modal3 h5 {
 
  font-family: 'Merriweather', serif;
}
#modal4 h5 {
 
  font-family: 'Merriweather', serif;
}
#modal5 h5 {
 
  font-family: 'Merriweather', serif;
}



.about p:first-of-type {

  color: red;
  font-style: italic;
}


.card-reveal p {
   font-family: 'Satisfy', cursive;
}


.card-reveal span {
  font-family: 'Merriweather', serif;

}



.card-content span {
font-family: 'Merriweather', serif;
}



.clients h5{
  padding-top: 30px;
}



.clients h5 {

  font-family: 'Satisfy', cursive;
}

.container-clients {
  padding:30px;
}


/*about*/


.about img {
  
  height: 400px;
  width: 400px;
  
}
  

.about h4{

font-family: 'Merriweather', serif;
color: #322f56 !important
}

.about h5 {

font-family: 'satisfy', serif;
color: #322f56 !important
}


.kutipan h3{

  font-family: 'Merriweather', serif;
color: #322f56 !important

}

.slider h2, 
.clients h3 {

text-shadow: 1px 1px 5px rgba(0,0,0,0.7);

}

.parallax-container {
	height: 400px;
}

.clients img {
	max-width: 150px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section, footer {
	padding: 20px 0;
}

/**/
.about .btn  {
    background: linear-gradient(to right ,#fc00ff , #00dbde  )!important;
    /* background: linear-gradient(to right ,#00b09b , #96c93d  ) */

 }

 .contact h5 {
   font-family: 'Satisfy', cursive;
 }

 /*responsive*/



 




